@model PortalCalendarServer.Services.PageViewModel
@using PortalCalendarServer.Models
@using PortalCalendarServer.Services
@using System.Globalization
@{
    Layout = null;

    var displayService = ViewContext.HttpContext.RequestServices.GetRequiredService<DisplayService>();
    displayService.UseDisplay(Model.Display);

    var dateCulture = new CultureInfo(displayService.GetConfig("date_culture") ?? "en-US");

    var now = displayService.GetNowWithTimeZone();
    var wakeupInfo = Model.Display.NextWakeupTime();
    var nextWakeup = wakeupInfo.NextWakeup;
    var sleepInSeconds = wakeupInfo.SleepInSeconds;
    var schedule = wakeupInfo.Schedule;

    // Text decorator function (can be: lowercase, UPPERCASE, Capitalized)
    Func<string, string> decorator = text => text; // returns as-is by default
    decorator = text => text.ToUpperInvariant(); // UPPERCASE
    // decorator = text => culture.TextInfo.ToTitleCase(text); // Capitalized


    var iconsComponent = Model.PortalIcons;
    var calendarComponent = Model.Calendar;

    var calendar = calendarComponent.Details();
    var icons = iconsComponent.GenerateIcons(calendar.HasEntries);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calendar - Google Fit Weight</title>
    
    @* Icon library *@
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    
    @* Stylesheets *@
    <link rel="stylesheet" href="/css/calendar.css" />
    <link rel="stylesheet" href="/css/calendar_themes/googlefit.css" />
    
    @* EPD Colors *@
    @await Html.PartialAsync("Includes/_EpdColors.cshtml", Model.CssColors)
    
    @* Google Charts Library *@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Day');
            data.addColumn('number', 'Weight');

            data.addRows([
                @if (Model.Weight.WeightSeries != null)
                {
                    @foreach (var point in Model.Weight.WeightSeries)
                    {
                        <text>
                        [
                            new Date(@point.Date.Year, @(point.Date.Month - 1), @point.Date.Day, @point.Date.Hour, @point.Date.Minute, @point.Date.Second, 0),
                            @point.Weight.ToString("F1", CultureInfo.InvariantCulture)
                        ],
                        </text>
                    }
                }
            ]);

            // Chart options - https://developers.google.com/chart/interactive/docs/gallery/linechart
            var options = {
                colors: ['black', 'black'],
                enableInteractivity: false,
                theme: 'maximized',

                // Remove legend
                legend: { position: 'none' },
                
                // X-axis labels and gridlines
                hAxis: {
                    XtextPosition: 'none',
                    format: 'MMM',
                    gridlines: { color: '#888' },
                    minorGridlines: { color: 'transparent' },
                    textStyle: { fontSize: 10, color: '#000000' },
                    ticks: [
                        @if (Model.Weight.WeightSeries != null)
                        {
                            @foreach (var point in Model.Weight.WeightSeries.Where(p => p.Date.Day == 1))
                            {
                                <text>
                                {
                                    "v": new Date(@point.Date.Year, @(point.Date.Month - 1), @point.Date.Day),
                                    "f": @Json.Serialize(@point.Date.ToString("MMMM", dateCulture))
                                },
                                </text>
                            }
                        }
                    ],
                },
                
                // Y-axis
                vAxis: {
                    XXXtitle: 'Váha', 
                    XXXtextPosition: 'none',
                    gridlines: { color: '#000', count: 3 },
                    minorGridlines: { color: 'transparent' },
                    textStyle: { fontSize: 12, color: '#000000' }
                },

                // Chart area
                chartArea: { left: 0, top: 0, width: '100%', height: '100%' },

                // Interpolate NULL values
                interpolateNulls: true,

                // Smooth curve
                curveType: 'function',

                // Show points
                pointShape: 'circle',   //  'circle', 'triangle', 'square', 'diamond', 'star', or 'polygon'
                pointSize: 4,
            };

            var chart = new google.visualization.LineChart(document.getElementById('weight_chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <div id="spacer">
        <div class="top-month-header">
            <div>
                @decorator(Model.Date.ToString("MMMM", dateCulture))
            </div>
        </div>

        <div class="current-weight-big">
            @if (Model.Weight.LastWeight.HasValue)
            {
                <span>@Model.Weight.LastWeight.Value.ToString("F1", CultureInfo.InvariantCulture)</span>
            }
            else
            {
                <span>--.-</span>
            }
            <!-- <span class="current-weight-small-kg"> kg</span> -->
        </div>

        <div class="weight-chart" id="weight_chart_div">
        </div>

        <div class="day-of-week-block">
            <div class="dow-number-and-name">
                <div>
                    @Model.Date.Day/@DateTime.DaysInMonth(Model.Date.Year, Model.Date.Month)
                </div>
                <div>
                    @decorator(Model.Date.ToString("dddd", dateCulture))
                </div>
            </div>
            <div class="separator"></div>
            <div class="bunch-of-bars">
                @for (int i = 1; i <= Model.Date.Day; i++)
                {
                    <div class="bar"></div>
                }
            </div>
        </div>

        @if (icons?.Any() == true)
        {
            <div class="icons-container">
                @foreach (var icon in icons)
                {
                    <img src="/images/portal_icons/@(icon.Name).png" class="icon@(icon.Grayed ? " grayed" : "")" alt="Portal icon" />
                }
            </div>
        }

        @if (calendar.HasEntries && calendar.TodayEvents?.Any() == true)
        {
            <div class="calendar-container">
                @foreach (var evt in calendar.TodayEvents)
                {
                    <div>
                        @if (evt.AllDay)
                        {
                            @evt.Summary
                        }
                        else
                        {
                            @evt.StartTime.ToString("H:mm", dateCulture)
                            @evt.Summary
                            @if (evt.DurationHours.HasValue)
                            {
                                <text>(~@((int)(evt.DurationHours.Value + 0.5)) hod.)</text>
                            }
                        }
                    </div>
                }
            </div>
        }

        <img id="aperture-logo" src="/images/Aperture_Laboratories_Logo.png" alt="Aperture Science" />

        <div id="bottom-signature">
            @* Screen displayed at *@
            <iconify-icon icon="material-symbols:add-to-home-screen-sharp"></iconify-icon>
            @nextWakeup.ToString("H:mm", dateCulture),
        </div>

        <div id="battery-status">
            @await Html.PartialAsync("~/Views/CalendarThemes/Includes/_BatteryStatusIcon.cshtml", Model.Display)
        </div>
    </div>
</body>
</html>
