@model Display
@using PortalCalendarServer.Controllers
@using PortalCalendarServer.Models.DatabaseEntities

@{
    var width = Model.VirtualWidth();
    var height = Model.VirtualHeight();
    var borderSize = 50;
    var borderOverlayTop = Model.BorderTop;
    var borderOverlayRight = Model.BorderRight;
    var borderOverlayBottom = Model.BorderBottom;
    var borderOverlayLeft = Model.BorderLeft;
}

@section Styles {
    <style>
        .preview-image {
            width: @(width)px;
            height: @(height)px;
            margin-top: @(borderSize - borderOverlayTop)px;
            margin-left: @(borderSize - borderOverlayLeft)px;
            position: relative;
        }

        .preview-image:before {
            content: "";
            position: absolute;
            top: -@(borderSize - borderOverlayTop)px;
            left: -@(borderSize - borderOverlayLeft)px;
            width: @(width + 2*borderSize - (borderOverlayLeft + borderOverlayRight))px;
            height: @(height + 2*borderSize - (borderOverlayTop + borderOverlayBottom))px;
            border: @(borderSize)px solid rgba(0, 0, 0, 0.75);
            box-sizing: border-box;
        }
    </style>
}

<p class="row-fluid pb-3">
    Image for the ePaper display
    (if you'd like to see the original image generated from HTML+CSS template then look at the 
    <a href="@Url.Action(nameof(UiController.Test), "Ui", new { displayNumber = Model.Id })">test page</a>).
</p>

<p class="row-fluid">
    <div class="preview-image">
        <img src="@Url.Action(nameof(ApiController.Bitmap), "Api", new { mac = Model.Mac, format = "png", rotate = 0, flip = "", preview_colors = true })" alt="ePaper preview">
    </div>
</p>
