@model Display
@using PortalCalendarServer.Controllers
@using PortalCalendarServer.Models.DatabaseEntities

<!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
<div style="display: flex; flex-flow: row wrap; justify-content: space-around;">
    <div>
        @{
            var pageUrl = Url.Action(nameof(UiController.CalendarHtmlDefaultDate), "Ui", new { displayNumber = Model.Id, preview_colors = true });
        }
        Calendar page <a href="@pageUrl">as HTML</a>:
        <br>
        <iframe src="@pageUrl"
                width="@Model.VirtualWidth()"
                height="@Model.VirtualHeight()"
                style="border: 1px solid black">
        </iframe>
    </div>
    <div>
        @{
            var bitmapUrl = Url.Action(nameof(ApiController.Bitmap), "Api", new { preview_colors = true, format = "png", mac = Model.Mac });
            var rendered_ago = Model.RenderedAt.HasValue ? $"rendered {(DateTime.UtcNow - Model.RenderedAt.Value).TotalMinutes:F0} minutes ago" : "never rendered";
        }
        Calendar page <a href="@bitmapUrl">as IMG</a> with fixed size (@rendered_ago):
        <br>
        <img src="@bitmapUrl"
             style="border: 1px solid black"
             alt="Calendar as image">
    </div>
</div>
