@model PortalCalendarServer.Models.Entities.Display
@using PortalCalendarServer.Services

@{
    var displayService = (DisplayService)ViewData["DisplayService"]!;
    var integrationName = (string)ViewData["IntegrationName"]!;
    var hasOverride = !string.IsNullOrEmpty(displayService.GetConfigWithoutDefaults(integrationName));
    var currentValue = displayService.GetConfig(integrationName) == "1";
    var defaultValue = displayService.GetConfigDefaultsOnly(integrationName) == "1";
    var isDisabled = !Model.IsDefault() && !hasOverride;
}

<div class="col-md-12">
    <div class="form-check form-switch">
        <input class="form-check-input integration-toggle" type="checkbox" 
               id="@integrationName" 
               name="@integrationName" 
               value="1"
               data-integration="@integrationName"
               data-default-checked="@(defaultValue ? "true" : "false")"
               @(currentValue ? "checked" : "")
               @(isDisabled ? "disabled" : "")>
        <label class="form-check-label" for="@integrationName">Integration enabled</label>
    </div>
</div>

@if (!Model.IsDefault())
{
    <div class="col-md-12 mt-2">
        <div class="form-check form-switch">
            <input class="form-check-input override-toggle" type="checkbox" 
                   id="_@(integrationName)_override_global" 
                   data-integration="@integrationName"
                   @(hasOverride ? "checked" : "")>
            <label class="form-check-label" for="_@(integrationName)_override_global">Override global settings</label>
        </div>
    </div>
}
