@model Display
@using PortalCalendarServer.Models.DatabaseEntities
@using PortalCalendarServer.Services

@{
    var displayService = (DisplayService)ViewData["DisplayService"]!;
}

<div class="col-12 mb-3">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="totally_random_icon" name="totally_random_icon" value="1"
               @(displayService.GetConfigWithoutDefaults(Model, "totally_random_icon") == "1" ? "checked" : "")>
        <label class="form-check-label" for="totally_random_icon">
            Random icons instead of chamber-by-day
        </label>
    </div>
</div>

<div class="col-md-4">
    <label for="min_random_icons">Min random icons count</label>
    <input id="min_random_icons" name="min_random_icons" type="number" class="form-control"
           value="@displayService.GetConfigWithoutDefaults(Model, "min_random_icons")"
           placeholder="@displayService.GetConfigDefaultsOnly("min_random_icons")">
</div>
<div class="col-md-4">
    <label for="max_random_icons">Max random icons count</label>
    <input id="max_random_icons" name="max_random_icons" type="number" class="form-control"
           value="@displayService.GetConfigWithoutDefaults(Model, "max_random_icons")"
           placeholder="@displayService.GetConfigDefaultsOnly("max_random_icons")">
</div>
<div class="col-md-4">
    <label for="max_icons_with_calendar">Max icons count for calendar event</label>
    <input id="max_icons_with_calendar" name="max_icons_with_calendar" type="number" class="form-control"
           value="@displayService.GetConfigWithoutDefaults(Model, "max_icons_with_calendar")"
           placeholder="@displayService.GetConfigDefaultsOnly("max_icons_with_calendar")">
</div>
