@model PortalCalendarServer.Models.DatabaseEntities.Display
@using PortalCalendarServer.Models.DatabaseEntities
@using PortalCalendarServer.Models.POCOs
@using PortalCalendarServer.Services
@inject IDisplayService DisplayService

<fieldset class="row mb-3">
    @await Html.PartialAsync("_ConfigCheckbox", new ConfigInputModel
    {
        Display = Model, Key = "ota_mode",
        Label = "OTA mode on",
        HelpText = "(Required for firmware update. ⚠️ It disables standard functionality and waits for OTA update indefinitely until a manual reset or a successful firmware download!)",
        ColClass = "col-md-12"
    })
</fieldset>

@if (!Model.IsDefault())
{
    <fieldset class="row mb-3">
        <div class="col-md-12">
            <label for="display_mac">MAC address</label>
            <input id="display_mac" name="display_mac" type="text" class="form-control" value="@Model.Mac">
            <div class="form-text">MAC address of the display in the aa:bb:cc:dd:ee:ff format.</div>
        </div>
    </fieldset>

    <fieldset class="row mb-3">
        <div class="col-md-4">
            <label for="display_type">Display type</label>
            <select id="display_type" name="display_type" class="form-select">
                @foreach (var type in DisplayService.GetDisplayTypes())
                {
                    <option value="@type.Code" selected="@(Model.DisplayTypeCode == type.Code)">@type.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label for="color_variant">Color variant</label>
            <select id="color_variant" name="color_variant" class="form-select">
                @foreach (var variant in DisplayService.GetColorVariants().Where(cv => cv.DisplayTypeCode == Model.DisplayTypeCode))
                {
                    <option value="@variant.Code" selected="@(Model.ColorVariantCode == variant.Code)">@variant.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label for="dithering_type">Dithering</label>
            <select id="dithering_type" name="dithering_type" class="form-select">
                <option value=""></option>
                @foreach (var type in DisplayService.GetDitheringTypes())
                {
                    <option value="@type.Code" selected="@(Model.DitheringTypeCode == type.Code)">@type.Name</option>
                }
            </select>
        </div>
    </fieldset>

    <fieldset class="row mb-3">
        <div class="col-md-6">
            <label for="display_rotation">Rotation</label>
            <select id="display_rotation" name="display_rotation" class="form-select">
                <option value="@((int)DisplayRotation.None)" selected="@(Model.Rotation == DisplayRotation.None)">0° (@Model.Width × @Model.Height)</option>
                <option value="@((int)DisplayRotation.Rotate90)" selected="@(Model.Rotation == DisplayRotation.Rotate90)">90° (@Model.Height × @Model.Width)</option>
                <option value="@((int)DisplayRotation.Rotate180)" selected="@(Model.Rotation == DisplayRotation.Rotate180)">180° (@Model.Width × @Model.Height but upside down)</option>
                <option value="@((int)DisplayRotation.Rotate270)" selected="@(Model.Rotation == DisplayRotation.Rotate270)">270° (@Model.Height × @Model.Width)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="display_gamma">Gamma</label>
            <input id="display_gamma" name="display_gamma" type="number" step="0.01" class="form-control" value="@Model.Gamma">
            <div class="form-text">How should the grayscale/antialiased elements map to the pure black and white. Higher values &gt; 2.2 = darker and thicker, lower values &lt; 1.8 = lighter and thinner.</div>
        </div>
    </fieldset>

    <fieldset class="row mb-3">
        <div class="col-md-3">
            <label for="display_border_top">Preview frame top</label>
            <input id="display_border_top" name="display_border_top" type="number" step="1" class="form-control" value="@Model.BorderTop">
        </div>
        <div class="col-md-3">
            <label for="display_border_right">Preview frame right</label>
            <input id="display_border_right" name="display_border_right" type="number" step="1" class="form-control" value="@Model.BorderRight">
        </div>
        <div class="col-md-3">
            <label for="display_border_bottom">Preview frame bottom</label>
            <input id="display_border_bottom" name="display_border_bottom" type="number" step="1" class="form-control" value="@Model.BorderBottom">
        </div>
        <div class="col-md-3">
            <label for="display_border_left">Preview frame left</label>
            <input id="display_border_left" name="display_border_left" type="number" step="1" class="form-control" value="@Model.BorderLeft">
        </div>
        <div class="col-md-12 form-text">
            Preview frame border (how much the physical frame overlaps the display on each side)
        </div>
    </fieldset>
}

<fieldset class="row mb-3">
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "wakeup_schedule", Label = "Wake up (redraw) schedule",
        ColClass = "col-md-4",
        HelpText = "Schedule is in the crontab format, for example \"0 * * * *\""
    })
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "alive_check_safety_lag_minutes",
        Label = "Enforced lag when checking if display is alive (minutes)",
        InputType = "number", ColClass = "col-md-4",
        HelpText = "How many minutes to delay the check after the expected contact time"
    })
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "alive_check_minimal_failure_count",
        Label = "Min. number of alive check failures",
        InputType = "number", ColClass = "col-md-4",
        HelpText = "Minimal number of failures the display is considered to be frozen and before a notification is sent."
    })
</fieldset>
